/* @media (max-width : 770px) {
    *{
        font-size: 7.5px;
        margin: 0;
        padding: 0;
    }
    .nav ul{
        display: none;
        
    }
    h1{
        font-size: 20px;
    }
    }
    #contact{
        height: 350px;
    }

    .sidebar{
        display: none;
    }

    .btn-container{
        margin-top: 3rem;
        height: 3vh;
        border-radius: 1rem;
        padding: 5px;
    }
    .project-box{
        height: fit-content;
    }
    .project-box .project-img{
        display: none;
    }
    .btn-contact{
        margin-top: 5rem;
        height: 3vh;
        border-radius: 1rem;
        padding: 5px;
    }
    #heading-primary{
        margin-top: 5rem;
    }
}


.hidden{
    transition: all 1s;
    opacity: 0;
}


.show{
    opacity: 1;
}


@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }

}
 */
